.boton-regresar {
    position: fixed;
    bottom: 20px;
    right: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .boton-regresar.visible {
    opacity: 1;
    visibility: visible;
  }
  
  .arrowup{
    color: rgb(115, 182, 197);
  }