#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: justify;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.secciones{
  width: 650px;
  margin-top: 25px;

}

.secciones ol li {
  cursor: pointer;
  /* font-size: 18px; */
}
.secciones ol li:hover {
  color: aquamarine;
}

.children-div{
  margin-top: 25px;
}

@media screen and (max-width: 576px) {
  body, .secciones {
    font-size: 1.27em; /* Aumenta el tamaño de la fuente en dispositivos móviles */
  }
  h1{
    font-size: 2em;
    text-align: left;
  }
}
@media screen and (min-width: 576px) {
  .secciones {
    font-size: 1.1em; /* Aumenta el tamaño de la fuente en dispositivos móviles */
  }
}


